/*Contains some style rules to customise the bootstrap layouts*/

ul.nav a:hover { color: #fff !important; }

.jumbotron {
    /* background-image: url("https://www.smak.co.za/images/bg.jpg"); */
    background-image: url("../images/bgimage.jpg");
    /* opacity: 1; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
    margin-bottom: 0;
    height:400px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .display-3 {
      font-weight: bold;
      color: black;
  }

  .lead{
      font-size:25px;
      color: black;
  }